<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
        {{ partial "nav-about.html" .}}
        {{ if .Params.img }}
        <div class="bg" style="position: absolute; top: 0; min-height: 500px; width: 100%; overflow: hidden;">

            <div class="headerBGFon"></div>
            <div class="post-background" style="position: absolute; top: 0; width: 100%; min-height: 500px; background-image: url({{ .Params.img }}); background-position: center center; background-repeat: no-repeat; background-size: cover; transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;"></div>
  
        </div>
        {{ end }}
        <section id="fh5co-solutions" data-section="solutions" {{ if .Params.img }} style="padding-top: 390px;" {{ end }}>
        	<div class="container">
          		<div class="row">
          			<div class="col-md-12 section-heading text-left to-animate">
          				<h2 class="text-center vagr{{ if .Params.img }} white {{ end }}">{{ .Title }}</h2>
          				<div class="content prNova">
          					{{ .Content }}
          				</div>
          			</div>
          		</div>
          	</div>
        </section>

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" .}}
        {{ end }}

    	{{ partial "js.html" .}}
    </body>
</html>