	<section id="fh5co-contact" data-section="contact">
		<div class="container">
			
			<div class="row row-bottom-padded-md">
				<div class="col-md-6 to-animate">
					<!-- <h3>{{ with .Site.Params.contact.info }}{{ . | markdownify }}{{ end }}</h3> -->
					<ul class="fh5co-contact-info">
					{{ range .Site.Params.contact.details }}
						<li class="fh5co-contact-address "><i class="{{ with index . 0}}{{ . }}{{ end }}"></i>{{ with index . 1}}{{ . | markdownify }}{{ end }}</li>
					{{ end }}
					</ul>
					<h3 class="recent_news-title">{{ with .Site.Params.contact.recent_news }}{{ . | markdownify }}{{ end }}</h3>
					
					<!-- <ul class="p0">
						<li class="listNone">
							<a href="#">Smile News – May 2017</a>
						</li>
						<li class="listNone">
							<a href="#">Smile 6.0.9 released</a>
						</li>
						<li class="listNone">
							<a href="#">Smile News – April 2017</a>
						</li>
						<li class="listNone">
							<a href="#">Smile 6.0.8 released</a>
						</li>
						<li class="listNone">
							<a href="#">Smile News – March 2017</a>
						</li>
					</ul> -->

					<ul class="p0">
					{{ range (where .Site.Pages "Params.section" "news").ByDate.Reverse }}
                    <li class="listNone">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>
		             {{ end }}
					</ul>
				</div>

				<div class="col-md-6 to-animate">
					<h3 class="membership-title">{{ with .Site.Params.contact.membership }}{{ . | markdownify }}{{ end }}</h3>
					{{ with .Site.Params.contact.membership_img }}{{ . | markdownify }}{{ end }}
					<a href="#">{{ with .Site.Params.contact.accoms_img }}{{ . | markdownify }}{{ end }}</a>
					<h3>{{ with .Site.Params.contact.form }}{{ . | markdownify }}{{ end }}</h3>
					<!-- <form method="post" action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}">
					<div class="form-group ">
						{{ with .Site.Params.contact.name }}
						<label for="name" class="sr-only">{{ . | markdownify }}</label>
						<input id="name" class="form-control" name="name" placeholder="{{ . }}" type="text">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.email }}
						<label for="email" class="sr-only">{{ . | markdownify }}</label>
						<input id="email" class="form-control" name="_replyto" placeholder="{{ . }}" type="email">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.phone }}
						<label for="phone" class="sr-only">{{ . | markdownify }}</label>
						<input id="phone" class="form-control" name="phone" placeholder="{{ . }}" type="text">
						{{ end }}
					</div>
					<div class="form-group ">
						{{ with .Site.Params.contact.message }}
						<label for="message" class="sr-only">{{ . | markdownify }}</label>
						<textarea id="message" cols="30" rows="5" class="form-control" name="message" placeholder="{{ . }}"></textarea>
						{{ end }}
					</div>
					<div class="form-group ">
						<input class="btn btn-primary btn-lg" value="{{ .Site.Params.contact.button | markdownify }}" type="submit">
					</div>
					</form> -->
				</div>

			</div>
		</div>
		{{ if .Site.Params.contact.map }}
        	<div id="map" class="to-animate"></div>
		{{ end }}
	</section>
