	

	<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
		

		<div class="gradient"></div>

		<div class="swiper-container header-slider">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide" style="background-image:url(slider/slide1.jpg); background-repeat: no-repeat; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
		            	<div class="swTFirst swTCB vagr">Billing. Better.</div>
		            </div>
		            <div class="swiper-slide" style="background-image:url(slider/slide2.jpg); background-repeat: no-repeat; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
		            	<div class="swTSecond swTCB vagr">Billing. Better.</div>
		            </div>
		            <div class="swiper-slide" style="background-image:url(slider/slide3.jpg); background-repeat: no-repeat; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
		            	<div class="swtFord swTCB vagr">Billing. Better.</div>
		            </div>
		            <div class="swiper-slide" style="background-image:url(slider/slide4.jpg); background-repeat: no-repeat; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
		            	<div class="swtFour swTCW vagr">Billing. Better.</div>
		            </div>
		        </div>
		    </div>


		<div class="container">
			

			
				

			<div class="text-wrap">
				<div class="text-inner">


					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate vagr">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>
							<h2 class="to-animate f20px prNova">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
						</div>
					</div>

					

				</div>
			</div>
		</div>
		<div class="slant"></div>





	</section>