<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
        {{ partial "nav-about.html" .}}
        
        <section id="fh5co-news" data-section="news" style="height: 100%; padding: 6em 0; ">
          <div class="container">
              <div class="text-inner" style="margin: 0 auto; display: table;">
                <div class="row">
                  <div class="col-md-12 to-animate fadeInUp animated">
                    <div id="date-time" class='greyColor'>{{ .Date.Format "January 2006" }}</div>
                  
                    <h1 id="title" class='greyColor vagr'>{{ .Title }}</h1>
                    <div class="text-left">
                          <article id="content" class="prNova">
                             {{ .Content }}
                          </article>
                    </div>
                    {{ if .PrevInSection }}
                      <a href="{{ .PrevInSection.Permalink }}">Previous post</a>
                    {{ end }}
                    {{ if and .PrevInSection .NextInSection }} | {{ end }}
                    {{ if .NextInSection }}
                      <a href="{{ .NextInSection.Permalink }}">Next post</a>
                    {{ end }}
                  </div>
                </div>
              </div>
          </div>
        </section>

      {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" .}}
      {{ end }}

    {{ partial "js.html" .}}
    </body>
</html>